HTML {
  margin: 0;
}

BODY {
  display: flex;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

#article-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  text-align: center;
  background-color: darkgray;
  height: 100%;
  overflow: auto;
}

#article {
  display: inline-block;
  position: relative;
  margin: 5mm 5mm 5mm 5mm;
  text-align: left;
  /* article is hidden from view initially */
  visibility: hidden;
}

BODY.ready #article {
  visibility: visible;
}

#article-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 25mm 25mm 25mm 25mm;
}

#article-text {
  font-size: 12pt;
  text-align: justify;
}

#article-text:focus {
  outline: none;
}

#article-text *:first-child {
  margin-top: 0;
}

#article-footers {
  font-size: 10pt;
}

#article-menu {
  position: absolute;
  display: none;
  left: 5px;
  top: 5px;
  background-color: #eeeeee;
  border-radius: 4px;
  box-shadow: 1px 1px 5px black;
  padding: 2px 2px 2px 2px;
}

#article-menu UL {
  font-size: 1.5em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#article-menu UL LI {
  padding: 0.2em 0.4em 0.2em 0.4em;
  cursor: pointer;
}

#article-menu UL LI:hover {
  color: #ffffff;
  background-color: #333333;
  border-radius: 4px;
}

.footer-pusher {
  float: right;
  line-height: 0;
  visibility: hidden;
}

.footer-content {
  float: right;
  width: 100%;
  margin-top: 10mm;
  /* page margin top plus margin bottom */
  margin-bottom: calc(25mm + 25mm);
  padding-left: 1.6em;
}

.footer-content:focus {
  outline-offset: 2px;
}

.footer-spacer {
  float: right;
  width: 100%;
  /* should match margin-top of .paper */
  height: 5mm;
  line-height: 0;
  visibility: hidden;
}

.footer-content:empty {
  /* no margin needed when it's empty */
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#article-footers *:last-child .footer-spacer {
  display: none;
}

.footnote-item.removed {
  display: none;
}

.paper {
  width: 210mm;
  height: 297mm;
  /* should match height of .footer-spacer */
  margin-top: 5mm;
  background-color: white;
  box-shadow: 1px 1px 5px black;
}

.paper:first-child {
  margin-top: 0;
}

#status-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.loader {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

BODY.pending .loader {
  opacity: 0.5;
}

BODY.error .loader {
  display: none;
}

BODY.ready #status-container {
  display: none;
}

#error-text {
}

#scratch-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  visibility: 0;
  border: 0;
}

@page {
  size: A4 portrait;
  margin: 0;
}

@media print {
  #side-nav {
    /* hide navigation */
    display: none;
  }

  #article-container {
    /* remove background and prevent appear of scroll bar */
    background-color: transparent;
    overflow: visible;
  }

  #article {
    /* remove margin around article */
    margin: 0;
  }

  #article-background {
    /* hidden paper background */
    visibility: hidden;
  }

  .paper {
    /* remove spacing between sheets */
    margin-top: 0;
    /* prevent generation of an blank extra page at the end */
    height: 0;
    box-shadow: none;
  }

  .footer-spacer {
    /* remove spacing between sheets */
    display: none;
  }
}
