.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100px;
  padding: 4px 18px 3px 18px;
}

.title {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100px;
  padding: 4px 0px 3px 36px;
  vertical-align: middle;
  cursor: pointer;
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  background-origin: padding-box;
  background-position-x: 4px;
  background-position-y: 2px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-image: url('../img/document.svg');
}

.title.inflection {
  background-image: url('../img/document-tbl.svg');
}

.title.rtl {
  direction: rtl;
}

.message {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(110, 110, 110);
  font-weight: 500;
  font-size: 14px;
}

.title-input-container {
  position: absolute;
}

.title-input {
  box-sizing: border-box;
  width: 100%;
}

.title-input.rtl {
  direction: rtl;
}

@media screen and (max-width: 1024px) {
  .toolbar-left, .toolbar-right, #right-side-bar, #left-side-bar {
    flex-shrink: 2;
  }
}

@media screen and (max-width: 580px) {
  .toolbar-left, .toolbar-right, #right-side-bar, #left-side-bar {
    display: none;
  }
}
