.checkbox {
  margin-right: 12px;
  vertical-align: middle;
}

.input-container {
  padding-bottom: 8px;
}

.input-container SECTION {
  display: flex;
  align-items: center;
  padding: 4px 4px 4px 4px;
  margin: 12px 12px 12px 12px;
}

.input-container LABEL {
  white-space: nowrap;
}

.input-container LABEL SELECT {
  margin-top: -12px;
  margin-bottom: -12px;
  margin-left: 4px;
}

.preview-container {
  padding: 16px 24px 24px 48px;
}

.preview-sentence {
  font-size: 36pt;
}

.preview-sentence.rtl {
  direction: rtl;
}
