BODY {
  margin: 0;
  width: 250px;
  font-size: 13px;
  user-select: none;
}

UL {
  list-style-type: none;
  padding: 0;
  margin: 4px 0 4px 0;
}

LI {
  padding: 6px 12px 6px 48px;
  white-space: nowrap;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  background-origin: padding-box;
  background-position-x: 16px;
  background-position-y: 5px;
  background-repeat: no-repeat;
  background-size: 20px;
}

LI:hover {
  background-color: rgb(241, 243, 244);
}

LI.disabled {
  filter: grayscale(100%);
  opacity: 0.5;
}

LI.disabled:hover {
  background-color: inherit;
}

LI.create {
  background-image: url('../img/conradish.svg');
}

LI.document {
  background-image: url('../img/document.svg');
}

LI.folder {
  background-image: url('../img/folder.svg');
}

LI.separator {
  border-bottom: 1px solid rgb(241, 243, 244) ;
  padding: 0;
  margin: 4px 0 4px 0;
}

LI.rtl {
  direction: rtl;
}
