#side-bar-container {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  height: 100%;
  transition: width 0.25s ease-in;
}

#side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 320px;
  background-color: rgb(255, 255, 255);
}

#side-bar-top {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

#side-bar-top SECTION {
  display: flex;
  padding: 0 16px 0 16px;
  margin: 16px 0 16px 0;
  align-items: center;
}

#side-bar-top SECTION.last {
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(232, 234, 237);
}

#side-bar-top SECTION .control {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 135px;
}

#side-bar-top SECTION .control > SELECT {
  width: 100%;
}

#side-bar-top SECTION .label {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  margin-right: 4px;
}

#side-bar-bottom {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 16px 16px 16px 16px;
}

#side-bar-bottom BUTTON.default {
  float: right;
}

#side-bar #finish-button {
  display: none;
}

#side-bar.clean #finish-button,
#side-bar.edit #finish-button {
  display: inline;
}

#side-bar-button-container {
  position: relative;
}

#side-bar-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: calc(50% - 40px / 2);
  left: -55px;
}

#side-bar-button .left-arrow {
  display: block;
  width: 40px;
  height: 30px;
  background : url('../img/arrow_down.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  transform: rotate(-90deg);
  cursor: pointer;
  opacity: 0.25;
}

#side-bar-button .left-arrow:hover {
  opacity: 1;
}

#side-bar-button.reverse .left-arrow {
  transform: rotate(90deg);
}

#side-bar-button.initial .left-arrow {
  animation-name: blinking;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes blinking {
  0%    { opacity: 0.25 }
  10%   { opacity: 1 }
  20%   { opacity: 0.25 }
  30%   { opacity: 1 }
  40%   { opacity: 0.25 }
  50%   { opacity: 1 }
  100%   { opacity: 0.25 }
}

.custom-margins {
  display: flex;
  margin-top: 8px;
  border: 1px solid rgb(232, 234, 237);
  height: 180px;
}

.custom-margins.hidden {
  display: none;
}

.custom-margins .column {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}

.custom-margins .column.right {
  align-items: flex-end;
}

.custom-margins .column .row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  justify-content: center;
}

.custom-margins .column .row.bottom {
  align-items: flex-end;
}

.custom-margins .column INPUT {
  width: 54px !important;
  text-align: center;
}

.custom-margins .column INPUT.invalid {
  background-color: rgb(255, 178, 178);
}

.custom-margins .top INPUT {
  margin-top: -8px;
}

.custom-margins .left INPUT {
  margin-left: -8px;
}

.custom-margins .bottom INPUT {
  margin-bottom: -8px;
}

.custom-margins .right INPUT {
  margin-right: -8px;
}

.speech-bubble {
  position: absolute;
  display: flex;
  right: 16px;
  bottom: 80px;
  width: 80%;
  opacity: 1;
  transition: opacity 0.3s ease-in, bottom 0.3s ease-in, visibility 0.3s;
}

.speech-bubble.hidden {
  visibility: hidden;
  bottom: 70px;
  opacity: 0;
}

.speech-bubble .icon {
  font-size: 2em;
  margin-right: 10px;
}

.speech-bubble .message {
  font-size: 1.1em;
}

@media screen and (min-width: 1200px) {
  #side-bar-button {
    display: none;
  }
}
