#side-nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  font-family: Roboto, Segoe UI, Tahoma, sans-serif;
  font-size: 13px;
}

#side-nav-top {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

#side-nav-top SECTION {
  padding: 16px 16px 0 16px;
}

#side-nav-top SECTION.last {
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(232, 234, 237);
}

#side-nav-top SECTION SELECT,
#side-nav-top SECTION INPUT[type="text"] {
  width: 200px;
}

#side-nav-top SECTION LABEL {
  display: inline-block;
  width: 140px;
  padding-top: 4px;
}

#side-nav-bottom {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: right;
  padding: 16px 16px 16px 16px;
}

.custom-margins {
  display: flex;
  margin: 16px 26px 16px auto;
  border: 1px solid rgb(232, 234, 237);
  height: 200px;
  width: 178px;
}

.custom-margins.hidden {
  display: none;
}

.custom-margins .column INPUT[type="text"] {
  width: 54px !important;
  margin: 1px 1px 1px 1px;
  text-align: center;
}

.custom-margins .column INPUT[type="text"].invalid {
  background-color: #ffaaaa;
}

.custom-margins .column {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}

.custom-margins .column.right {
  align-items: flex-end;
}

.custom-margins .column .row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  justify-content: center;
}

.custom-margins .column .row.bottom {
  align-items: flex-end;
}
