#side-bar {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  font-family: Roboto, Segoe UI, Tahoma, sans-serif;
  font-size: 13px;
  width: 320px;
}

#side-bar-top {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

#side-bar-top SECTION {
  display: flex;
  padding: 16px 16px 0 16px;
  align-items: center;
}

#side-bar-top SECTION.last {
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(232, 234, 237);
}

#side-bar-top SECTION SELECT,
#side-bar-top SECTION INPUT[type="text"] {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 135px;
}

#side-bar-top SECTION LABEL {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

#side-bar-bottom {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: right;
  padding: 16px 16px 16px 16px;
}

.custom-margins {
  display: flex;
  margin: 16px 26px 16px auto;
  border: 1px solid rgb(232, 234, 237);
  height: 200px;
  width: 178px;
}

.custom-margins.hidden {
  display: none;
}

.custom-margins .column INPUT[type="text"] {
  width: 54px !important;
  margin: 1px 1px 1px 1px;
  text-align: center;
}

.custom-margins .column INPUT[type="text"].invalid {
  background-color: #ffaaaa;
}

.custom-margins .column {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}

.custom-margins .column.right {
  align-items: flex-end;
}

.custom-margins .column .row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  justify-content: center;
}

.custom-margins .column .row.bottom {
  align-items: flex-end;
}

.speech-bubble {
  position: absolute;
  display: flex;
  right: 16px;
  bottom: 80px;
  width: 85%;
  opacity: 1;
  transition: opacity 0.3s ease-in, bottom 0.3s ease-in, visibility 0.3s;
}

.speech-bubble.hidden {
  visibility: hidden;
  bottom: 70px;
  opacity: 0;
}

.speech-bubble .icon {
  font-size: 2em;
  margin-right: 10px;
}

.speech-bubble .message {
  font-size: 1.1em;
}
