button, select, input[type="text"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  user-select: none;
}

button {
  color: rgb(26, 115, 232);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(218, 220, 224);
  padding: 8px 16px 8px 16px;
  position: relative;
  overflow: hidden;
}

button:hover {
  background-color: rgba(66, 133, 244, 0.04);
  border-color: rgb(210, 227, 252);
}

button:active {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 3px 6px 2px;
}

button.default {
  color: rgb(255, 255, 255);
  background-color: rgba(26, 115, 232);
  border-color: rgb(255, 255, 255);
}

button.default:hover {
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, .3), 0 3px 6px 2px rgba(66, 133, 244, .15);
}

select, input[type="text"] {
  color: rgb(32, 33, 36);
  min-height: 32px;
  border: 0;
  background-color: rgb(241, 243, 244);
  box-sizing: border-box;
}

select:focus, input[type="text"]:focus {
  box-shadow: rgba(26, 115, 232, 0.4) 0 0 0 2px;
  outline-style: none;
}

select {
  -webkit-appearance: none;
  padding: 1px 32px 2px 8px;
  background-image: url('../img/arrow_down.svg');
  background-origin: padding-box;
  background-position-x: calc(100% - 8px);
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}

select option {
  min-height: 15.6px;
  padding: 0 2px 1px 2px;
}

input[type="text"] {
  padding: 1px 8px 2px 8px;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear 0s normal forwards;
  background-color: rgba(26, 115, 232, 0.1);
  user-select: none;
  pointer-events: none;
}

button.default span.ripple {
  background-color: rgba(255, 255, 255, 0.32);
}

@keyframes ripple {
  to {
    transform: scale(4);
  }
}
